//FbHachaluzim
@font-face {
    font-family: 'fb_hachaluzimregular';
    src: url('fonts/fbhachaluzim-regular.woff2') format('woff2'),
    url('fonts/fbhachaluzim-regular.woff') format('woff'),
    url('fonts/fbhachaluzim-regular.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_hachaluzimmedium';
    src: url('fonts/fbhachaluzim-medium.woff2') format('woff2'),
    url('fonts/fbhachaluzim-medium.woff') format('woff'),
    url('fonts/fbhachaluzim-medium.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_hachaluzimbold';
    src: url('fonts/fbhachaluzim-bold.woff2') format('woff2'),
    url('fonts/fbhachaluzim-bold.woff') format('woff'),
    url('fonts/fbhachaluzim-bold.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}


//FbConstructor
@font-face {
    font-family: 'fb_constructorlight';
    src: url('fonts/fbconstructor-light.woff2') format('woff2'),
    url('fonts/fbconstructor-light.woff') format('woff'),
    url('fonts/fbconstructor-light.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_constructorregular';
    src: url('fonts/fbconstructor-regular.woff2') format('woff2'),
    url('fonts/fbconstructor-regular.woff') format('woff'),
    url('fonts/fbconstructor-regular.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_constructorbold';
    src: url('fonts/fbconstructor-bold.woff2') format('woff2'),
    url('fonts/fbconstructor-bold.woff') format('woff'),
    url('fonts/fbconstructor-bold.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}


//FbReformaNarrow
@font-face {
    font-family: 'fb_reformanarrowlight';
    src: url('fonts/fbreformanarrow-light.woff2') format('woff2'),
    url('fonts/fbreformanarrow-light.woff') format('woff'),
    url('fonts/fbreformanarrow-light.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_reformanarrowregular';
    src: url('fonts/fbreformanarrow-regular.woff2') format('woff2'),
    url('fonts/fbreformanarrow-regular.woff') format('woff'),
    url('fonts/fbreformanarrow-regular.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fb_reformanarrowmedium';
    src: url('fonts/fbreformanarrow-medium.woff2') format('woff2'),
    url('fonts/fbreformanarrow-medium.woff') format('woff'),
    url('fonts/fbreformanarrow-medium.ttf') format('truetype');
    //unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-style: normal;
    font-weight: normal;
}
