& {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: px(58);
    background-image: url('../img/stone_bg.jpg');
    background-size: cover;

    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-left: px(26);

        p {
            margin-right: px(20);
            color: $color1;
            font-family: 'fb_constructorlight', Arial, sans-serif;
            font-size: px(64);
        }

        h3 {
            color: $color1;
            font-family: 'fb_constructorbold', Arial, sans-serif;
            font-size: px(64);
        }
    }

    .info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: px(1090);
        margin: px(100) 0 px(60);

        div {
            justify-content: center;
            width: px(600);
            padding-top: px(150);

            span {
                color: $color1;
                font-family: Helvetica, Arial, sans-serif;
                font-size: px(24);
            }
        }

        .location {
            position: relative;
            margin-left: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: px(90);
                height: px(90);
                background: url('../img/location_icon.png') no-repeat;
                background-size: px(90);
            }
        }

        .mobile {
            position: relative;
            margin-left: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: px(90);
                height: px(90);
                background: url('../img/mobile_icon.png') no-repeat;
                background-size: px(90);
            }
        }

        .mail {
            position: relative;
            margin-left: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: px(90);
                height: px(90);
                background: url('../img/mail_icon.png') no-repeat;
                background-size: px(90);
            }
        }
    }
}
